<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>193536456974-m4ui0q0h14r494idgpilk6vrei4jg57q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193536456974-m4ui0q0h14r494idgpilk6vrei4jg57q</string>
	<key>API_KEY</key>
	<string>AIzaSyCxfFHiStbqnjMpL2jBkAdnGxxanN8raOI</string>
	<key>GCM_SENDER_ID</key>
	<string>193536456974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jonathanCanales.FoodTruck</string>
	<key>PROJECT_ID</key>
	<string>foodtruck-675a1</string>
	<key>STORAGE_BUCKET</key>
	<string>foodtruck-675a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193536456974:ios:9502157282d575ddc6bf5f</string>
</dict>
</plist>